h2 {
    color: white;
}


.bonjour {
    margin-left: 20vw;
}

.fa-sign-out {
    margin-left: 19vw;
    
}



/* CSS BODY INDEX.CO*/

body{
    background-color: rgb(0, 0, 0);


}

.container{
    margin-top: 15vw;
    justify-content: center;

}

.row {

    margin-top: 8vw;
    justify-content: center;


}

.case{

    border: 1px solid white;
    color: white;
    text-align: center;
    margin-top: 2vw;

}
/* FIN CSS BODY INDEX.CO*/



footer {
    background-color: grey;
   
}

footer a {
    color: white;
}

footer a:hover {
color: white;
}